<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="color: rgb(35, 113, 45);"> Weight Guru</h1>

    <form action="/" method="post">
        <label for="height">height</label>
        <input type="number" name="height" placeholder="enter your height in cm">
        <input type="submit">
    </form>

    <h4> Entered height in centimeter:{{height}} cm</h4>
    <p> Entered height in inches :{{inches}} inches</p>
    <br><br><br>
    <h1>
        result: {{weight}} KG
    </h1>
</body>
</html>